<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New project</title>
        <link th:href="@{/styles/Style.css}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="#"><h1 id="site_title">MicroManagerPro</h1></a>
        </header>
        <nav class="navigation_area">
            <section class="navigation_item_vert">
                <a th:href="@{/projects}" class="navigation_item">Мои проекты</a>
            </section>
            <section class="navigation_item_vert">
                <a th:href="@{/project/new}" class="navigation_item">Новый проект</a>
            </section>
        </nav>
        <main>
            <section class="form_field">
                <h2>Создать новый проект</h2>
                <form action="#" th:action="@{/project/add-project}" th:object="${project}" method="post">
                    <div class="form_item">
                        <label for="project_name">Проект</label>
                        <input type="text" th:field="*{name} "name="name" id="project_name" required class="form_input">
                    </div>
                    <div class="form_item">
                        <label for="due_date">Срок завершения</label>
                        <input type="date" th:field="*{dueDate}" name="date" id="due_date" class="form_input" >
                    </div>

                    <div class="form_item">
                        <input type='submit' value='Создать проект' class="green_button"/>
                    </div>
                </form>
            </section>
            
        </main>
        <footer>
            <section>
                <span>&copy; MicroManagerPro, Inc 2023</span>
                <span class="menu_item"><a href="#">Terms</a></span>
                <span class="menu_item"><a href="#">Privacy</a></span>
            </section>
        </footer>
    </body>
</html>